{% extends "base.html" %}

{% block title %}
    Login Page
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
  <input type = "email" name="email" placeholder="Enter your email", value="{{email if email}}">
  <input type = "submit" value="Submit"/>
</form>
{% endblock %}